{% extends 'base.html.twig' %}

{% block title %}{{ current_page.title }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="col">
            <div class="col-xl-6 offset-xl-3">
                <input type="text" class="form-control form-control-lg" id="page-titre" value="{{ current_page.title }}" aria-label="Titre">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div id="editor"></div>
            </div>
        </div>

    </div>
{% endblock %}
